<div class="shadow-15 layout-padding8 post">
  <div class="user">
    <% if user_signed_in? %>
      <%= post.user.name %>
    <% else %>
      Anonymous
    <% end %>
  </div>
  <div class="body">
    <%= post.body %>
  </div>
  <div class="row">
    <%if user_signed_in? %>

      <%if current_user == post.user %>
        <div><%= link_to 'Edit', edit_post_path(post) %></div>
        <div><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      <%end%>
    <%end%>
    <% if request.env['PATH_INFO']=="/" || request.env['PATH_INFO']=="/posts"%>
      <div><%= link_to "show", post %></div>
    <%end%>
  </div>
</div>
