<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="shadow-15 row">
      <div class="row new-post">
        <%= link_to 'Home', root_path %>
        <%= link_to 'New Post', new_post_path %>
      </div>
      <div class="row">
        <% if user_signed_in? %>
          <%= link_to current_user.name, '#' =%>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"button is-info" %>
        <% else %>
          <%= link_to 'Sign In', new_user_session_path, class: "button is-info" %>
          <%= link_to 'Sign Up', new_user_registration_path, class: "button is-info" %>
        <% end %>
      </div>
    </nav>
    <div class="margin8 padding8">
      <%= yield %>
    </div>
  </body>
</html>
